* {
  padding: 0;
  margin: 0;
  font-family: "Poppins" !important;
}
html, body {
    height: 100vh;
    font-size: 62.5% !important;
    scroll-behavior: smooth;
}
.nav {
  background: #336278;
  height: 6rem;
  /* padding: 10px; */
}
.nav-flex {
  display: flex;
  /* padding: 10px; */
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.nav-item {
  flex-basis: 10%;
  /* background: #fff; */
  padding: .5rem;
  text-align: center;
  margin-right: .5rem;
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff !important;
  justify-content: center;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:active {
  background-color: #fff;
  color: #336278 !important;
}
.nav-link {
  text-decoration: none;
  /* color: #fff; */
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.4rem;
}
.nav-item a:hover {
  color: #336278;
}
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/pngwing.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}
.hero-text-header {
  font-size: 4rem;
  letter-spacing: 1.5rem;
}
.hero-text-para {
  font-size: 1.6rem;
}
.about-section {
  color: #777777;
  margin: 0 15rem;
}
.about-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: .5rem;
  color: #336278;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: justify;
  justify-items: center;
  font-size: 2rem;
}
.project-section {
  margin: 0 15rem;
  color: #777777;
}
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.item-card {
  flex-basis: 32%;
  margin: 5px;
  /* height: 17rem; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 1.6rem;
}
.item-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.item-card-image {
  width: 100%;
  /* border-radius: 8px; */
  /* height: 100%; */
}
.card-details {
  padding: .2rem 1.6rem;
  background: #fff;
  border-radius: 6px;
  text-align: justify;
}
.footer-section {
  height: 5rem;
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  .hero-section {
    height: 51%;
  }
  .about-section, .project-section {
    margin: 0 1rem;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .item-card {
    margin: .5rem 0;
  }
 
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    height: 50%;
  }
  .about-section, .project-section {
    margin: 0 4rem;
  }
  .item-card {
    flex-basis: 48%;
  }
}
/* a.nav-link:hover {
    color: #336278;
} */
.box {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
